name: Compress Images
on: [push, pull_request]
jobs:
  build:
    name: calibreapp/image-actions
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      
      - name: Compress Images
        uses: calibreapp/image-actions@main
        with:
          # 压缩等级，默认就很好，也可以自己调
          jpegQuality: "80"
          pngQuality: "80"
          webpQuality: "80"
          ignorePaths: "node_modules/**,build"
          # 只压缩新加的图片，防止每次都跑全量
          compressOnly: false
          
      - name: Create New Pull Request (if images compressed)
        if: steps.compress_images.outputs.markdown != ''
        uses: peter-evans/create-pull-request@v5
        with:
          title: 'Auto Compress Images'
          branch: 'compress-images'
          commit-message: 'Compress images for better performance'
          body: ${{ steps.compress_images.outputs.markdown }}
